.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-container {
  background-color: salmon;
  padding: 16px;
}


.nav-list a {
  text-decoration: none;
}

